*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: gilroy;
   color: white
}
html,
body {
   height: 100%;
   width: 100%;

}
main{
    width: 100%;
    height: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    

}
.cursor{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    transition: all linear 0.1s;
    mix-blend-mode: difference;
   
}
h1{
    font-size: 10vw;
    font-weight: 900;
}