:root{
    --pri: white;
    --sec: black;
}
@font-face {
    font-family: light;
    src: url(/AeonikTRIAL-Light.otf);
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: light;
   
}
html,
body {
   height: 100%;
   width: 100%;
   color: black;
   overflow: hidden;
   
}
main{
    height: 100%;
    width: 100%;
    
}

.weatherpage {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; 
}

.weatherpage::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url(https://media.istockphoto.com/id/924894324/photo/eiffel-tower-in-paris-france.webp?a=1&b=1&s=612x612&w=0&k=20&c=7VdXmKnpngpcZcdQtGMKIoX-Rgpm4QY9xrdWogtedTU=);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(12px);
    background-position: center;
}

.weatherpage .aboutWeather{
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 80%;
    border-radius: 20px;
    background-image: url(https://media.istockphoto.com/id/977164386/photo/aerial-view-of-paris-with-eiffel-tower-during-sunset.webp?a=1&b=1&s=612x612&w=0&k=20&c=ayWBi82fx19-r4Q2oAPOYbnC0wvboUmfNpCxywfp-Yc=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    margin-top: 10px;
    height: 60px;
    width: 100%;
    /* background-color: red; */
    padding: 10px 10px;
    position: relative;
}
.searchbtn{
    height: 30px;
    padding: 5px 12px;
    width: 40px;
    position: absolute;
    box-shadow: -1px 1px 1px white ,1px 1px 1px white;
    cursor: pointer;
    right: 5%;
    border-radius: 10px;
    
}
.searchbtn:active{
    scale: 0.97;
}
.InputUser{
    display: flex;
    position: absolute;
    right: 5%;
    width: 25%;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: -1px -1px 1px white ,1px 1px 1px white;
    display: none;
}
.InputUser input{
    padding: 10px 20px;
    border-radius: 10px;
    width: 90%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    font-size: 18px;
}
.InputUser .close{
    padding: 10px 1px;
    font-size: 20px;
    border-radius: 10px;
    /* box-shadow: -1px 1px 1px white ,1px 1px 1px white; */
    border: none;
    cursor: pointer;
    outline: none;
}
.close :active{
    scale: 0.97;
}
.weather{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

}
.country{
    height: 50px;
    width: 150px;
    margin-left: 85%;
    text-align: center;
    margin-bottom: 20px;
    border: none;
    /* box-shadow: 1px 1px 1px black; */
}

.weatherDetail h1{
    font-size: 65px;
    margin-bottom: 5px;
}
.weatherDetail h1 .state{
    font-size: 20px;
}
.weatherDetail h2{
    font-size: 35px;
    margin-bottom: 5px;
}
.weatherDetail img{
    margin-top: 5px;
    height: 70px;
    border: none;
    border-radius: 25px;
    width: 60px;
    outline: none;
}
.weatherDetail .temp{
    display: flex;
    gap: 1rem;
}
.temp h3{
    font-size: 55px;
}
.temp h6{
    font-size: 25px;
}

.timer h3{
    font-size: 25px;
}
.Nextdays {
    position: absolute;
    bottom: 5%; /* Upar laya gaya */
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 10px;
    width: 90%;
    height: 250px;
    display: none;
    justify-content: center;
    gap: 2rem;
    backdrop-filter: blur(10px); /* Blur effect on background */
    border-radius: 20px;
    z-index: 2;
}

.Nextdays .days {
    height: 190px;
    width: 240px;
    border-radius: 15px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    backdrop-filter: blur(6px);
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 10px;

}
.days .infodays{
    display: flex;
    gap: 2rem;
}
.days h1{
    font-size: 22px;
    margin-bottom: 5px;
}
.days h2{
    font-size: 10px;
    margin-bottom: 10px;
}
.days h6{
    font-size: 25px;
    margin-top: 20px;
}
.days h4{
    font-size: 12px;
}
.days h6 span{
    font-size: 20px;
}